.kitify-product-categories .kitify-product-categories__item {
  text-align: center;
}
.kitify-product-categories .kitify-product-categories__item .cat-image {
  position: relative;
}
.kitify-product-categories .kitify-product-categories__item .cat-image .cat-count {
  display: flex;
  position: absolute;
  right: 0;
  background: #fff;
  align-items: center;
  justify-content: center;
  color: var(--site-heading-color);
  width: 50px;
  height: 50px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}
.kitify-product-categories .kitify-product-categories__item .cat-image .cat-count span {
  font-size: 1rem;
  font-weight: 600;
}
.kitify-product-categories .kitify-product-categories__item .cat-image img {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
}
.kitify-product-categories .kitify-product-categories__item .cat-name {
  margin-top: 20px;
}
.kitify-product-categories .kitify-product-categories__item .cat-name h2 {
  font-size: 1rem;
  font-weight: 600;
}
.kitify-product-categories .kitify-product-categories__item .cat-name h2:hover {
  color: var(--site-accent-color);
}
